.nav {
  position: fixed;
  width: 100%;
  padding-top: 3rem;
  z-index: 1000;
  transition: all ease-in-out .2s;
  padding-left: 1rem;
  padding-right: 1rem;

  @media only screen and (min-width: $desktop) {
    padding-left: 0;
    padding-right: 0;
  }

  &__container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--scrolled {
    background-color: $color-white;
    padding-top: 2rem;
    padding-bottom: 1rem;

    .nav__brand {
      font-size: 3.5rem;
    }
  }

  &__brand {
    font-family: 'Pacifico', sans-serif;
    color: $color-black;
    font-size: 5rem;
    font-weight: 400;
    text-decoration: none;
    transition: all ease-in-out .2s;
  }

  &__list {
    list-style: none;
    display: none;

    @media only screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
    }
  }

  &__item {
    transition: all .2s ease-out;

    &:not(:last-child) {
      margin-right: 3.75rem;
    }
    padding-top: .6rem;

    &--active {
      border-top: 3px $color-orange solid;
      margin-bottom: 3px;
    }
  }

  &__link {
    font-family: inherit;
    color: $color-black;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &__hamburger {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: $desktop) {
      display: none;
    }

    &__icon {
      width: 100%;
    }
  }

  &__mobile-list {
    border-top: 1px solid $color-black;
    list-style: none;
    width: 100%;
    display: none;

    &--active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media only screen and (min-width: $desktop) {
      display: none;
    }

    &__item {

      &:first-child {
        margin-top: 3rem;
      }
      
      &:not(:last-child) {
        margin-bottom: 5rem;
      }

      &:last-child {
        margin-bottom: 3rem;
      }
    }
  }
}