.paragraph {
  color: $color-black;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.7rem;

  &--hero {
    font-weight: 500;
  }

  &--white {
    font-weight: 300;
    color: $color-white;
  }

  &--grey {
    color: $color-grey-light;
    font-weight: 300;
    font-size: 1.6rem;
  }

  &--big {
    font-size: 2rem;
    font-weight: 400;
  }
}

.section-title {
  font-size: 5rem;
  font-weight: 700;

  @media only screen and (min-width: $tablet-lg) { 
    font-size: 7rem;
  }

  @media only screen and (min-width: $desktop) { 
    font-size: 9rem;
  }

  &--white {
    color: $color-white;
  }

  &--small {
    font-size: 3rem;

    @media only screen and (min-width: $tablet-lg) { 
      font-size: 4rem;
    }
  }
}