.u-mb-xs {
  margin-bottom: 1rem;
}

.u-mb-sm {
  margin-bottom: 2rem;
}

.u-mb-md {
  margin-bottom: 3.1rem;
}

.u-mb-lg {
  margin-bottom: 4rem;
}

.u-mt-md {
  margin-top: 3.5rem;
}

.centered {
  text-align: center;
}

.u-center-container {
  display: flex;
  justify-content: center;
}

.pink-text {
  color: $color-majenta;
}