.hero {
  background-image: url('../../assets/images/header.png');
  @include imageBackground;
  height: 100vh;
}

.subscribe {
  background-image: url('../../assets/images/subscribe.png');
  @include imageBackground;
}

.contact {
  background-image: url('../../assets/images/contact.png');
  @include imageBackground;
}