.hero {
  background-image: url('../../assets/images/header.png');
  background-repeat: no-repeat;
  background-position: top;
  @media only screen and (min-width: 78.75em) {
    background-position: 0% 35%;
    background-size: cover;
  }
  height: 100vh;
  position: relative;

  &__text-box {
    max-width: 40rem;
    position: absolute;
    top: 35%;
  }

  &__title {
    color: $color-black;
    font-size: 6rem;
    font-weight: 900;
  }

  .mouse {
    display: block;
    position: absolute;
    bottom: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

// ABOUT ------------------------------------------------------------------------------------

.about {
  background-color: $color-turquoise;
  padding: 5rem 0;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 56.25em) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__text-box {
    padding: 0 2rem;
    height: 100%;

    @media only screen and (min-width: 56.25em) {
      width: 875px;
    }

    @media only screen and (min-width: 75em) {
      padding: 0;
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;

    &-box {
      width: 100%;
      max-width: 400px;

      @media only screen and (min-width: 37.5em) { 
        max-width: 600px;
      }
  
      @media only screen and (min-width: 56.25em) {
        max-width: 100%;
        margin-right: 7rem;
      }
    }
  }
}

// SERVICES ------------------------------------------------------------------------------------


.subscribe {
  background-image: url('../../assets/images/subscribe.png');
  @include imageBackground;
}

.contact {
  background-image: url('../../assets/images/contact.png');
  @include imageBackground;
}